<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/semantic/dist/semantic.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/semantic/dist/semantic.js"></script>
  </head>
  <body>
  
    <!-- Nav menu -->

    <div class="ui menu">
      <div class="header item">
        Google Auth App
      </div>
      <a class="item">
        Home
      </a>
    </div>
  
  </body>
</html>

