<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="/semantic/dist/semantic.css" />
  <link rel="stylesheet" href="/public/css/main.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/semantic/dist/semantic.js"></script>
  <script type="text/javascript" src="/controllers/clientHandler.js"></script>
</head>

<body>

  <!-- Nav Element -->

  <div class="ui inverted menu">
    <div class="ui container">
      <div class="header item">
        GitHub Auth App
      </div>
      <a class="item" href="/">
          Home
        </a>
      <div class="right menu">
        <a class="item" href="/auth/logout">
            Logout
          </a>
      </div>
    </div>
  </div>


  <div class="ui center aligned text container">
    <div class="ui segment">
      <h1 class="ui inverted header">
           GitHub Auth App
        </h1>
      <h2>GitHub Strategy Authentication</h2>
      <a class="ui huge primary button" href="/auth/github">Get Started with GitHub</a>
    </div>
  </div>


</body>

</html>
